rules_version = '2';service cloud.firestore{match /databases/{database}/documents{function admin(){return request.auth!=null&&exists(/databases/$(database)/documents/adminUsers/$(request.auth.uid));}match /songs/{id}{allow read:true;allow create,update,delete:if admin();}match /messages/{id}{allow create:if request.resource.data.name is string&&request.resource.data.email is string&&request.resource.data.message is string;allow read,update,delete:if admin();}match /adminUsers/{id}{allow read:if request.auth!=null&&request.auth.uid==id;allow write:false;}}}